<div class='col-md-6'>

  <h1>Editing part</h1>

    <%= render 'form' %>

  <br>

  <%= link_to 'Show', @part, class: 'btn btn-large btn-info' %> |
</div>

<div class='col-md-6'>

  <p id="notice"><%= notice %></p>

  <h2><%= @recipe.name %></h2>

    <p><%= @recipe.description %></p>
    <p>Вес: <%= @recipe.quantity %> <%= @recipe.unit %></p>
    <p>Доступно: <%= @recipe.avaliable %></p>

  <br>

  <td><%= link_to 'Show', recipe_path, class: 'btn btn-info btn-large' %></td>

</div>