<h1>Ингридиенты</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Название</th>
      <th>Количество</th>
      <th>Рецепт</th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= link_to part.id, part_path(part) %></td>
        <td><%= part.name %></td>
        <td><%= part.quantity %></td>
        <td><%= part.recipe_name %></td>
        <td>....</td>
           <td><%= link_to 'Show', part, class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_part_path(part), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path, class: 'btn btn-success' %>