<div class="col-md-6">

  <p id="notice"><%= notice %></p>

  <h2><%= @part.name %></h2>

  <ul>
    <li><%= @part.quantity %> <%= @part.unit %></li>
    <li><%= @part.unit %></li>
  </ul>

  <%= link_to 'Edit', edit_part_path(@part) %> |
  <%= link_to 'Back', parts_path %>

</div>