<div class='col-md-6'>
  <h1>Editing recipe</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @recipe %> |
  <%= link_to 'Back', recipes_path %>
</div>

<div class='col-md-6'>
  <br>
  <br>
  <br>
  <h3>Ингридиенты</h3>

  <table class="table table-hover">
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.name %></td>
        <td><%= part.quantity %></td>
        <td><%= part.product.unit %></td>
        <td><%= link_to 'Edit', edit_part_path(part), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Destroy', part_path(part), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </table>

  <%= render 'addpart' %>

</div>