<div class='col-md-6'>

  <br>
  <br>

  <p id="notice"><%= notice %></p>

  <h2><%= @recipe.name %></h2>

  <p><%= @recipe.description %></p>
  <p>Вес: <%= @recipe.quantity %> <%= @recipe.unit %></p>
  <p>Доступно: <%= @recipe.avaliable %></p>
  <br>
  <h3>Ингридиенты</h3>

  <table class="table table-hover">
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.name %></td>
        <td><%= part.quantity %></td>
        <td><%= part.product.unit %></td>

      </tr>
    <% end %>
  </table>

  <%= render 'addpart' %>

</div>

<div class='col-md-6'>

  <p> Чтобы верно указать расход продукта на рецепт, которому вы сейчас добавляете ингридиент, обратите внимание на то, в чем измеряются ваши продукты.</p>

  <%= render 'products/index' %>

</div>