<p id="notice"><%= notice %></p>

<h2><%= @recipe.name %></h2>


  <p><%= @recipe.quantity %> <%= @recipe.unit %></p>
  <p><%= @recipe.description %></p>

<h3>Ингридиенты</h3>

<table class="table table-hover">
  <% @parts.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td><%= part.quantity %></td>
      <td><%= part.product.unit %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
