<div class='col-md-9'>

  <div class="panel panel-default">

    <div class="panel-heading"><h2><%= @recipe.name %></h2></div>

    <div class="panel-body">
      <p><%= @recipe.description %></p>
      <p>Вес: <%= @recipe.quantity %> <%= @recipe.unit %></p>
      <p>Доступно: <%= @avaliable %></p>
      <%= render 'produce' %>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <h3>Ингридиенты</h3>
      </li>

    <% @parts.each do |part| %>

      <li class="list-group-item">
        <td><%= part.name %></td>
        <td><%= part.quantity %></td>
        <td><%= part.product.unit %></td>
        <td><%= 'Не хватает!' if part.avaliable(current_user.id) < 1 %></td>
      </li>

    <% end %>

      <li class="list-group-item">
        <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-large btn-warning' %> |
        <%= link_to 'Back', recipes_path, class: 'btn btn-large btn-info' %>
      </li>
    </ul>

  </div>

</div>