<div class='col-md-6'>

<h2><%= @recipe.name %></h2>

  <p><%= @recipe.description %></p>
  <p>Вес: <%= @recipe.quantity %> <%= @recipe.unit %></p>
  <p>Доступно: <%= @avaliable %></p>

  <%= render 'produce' %>

<h3>Ингридиенты</h3>

<table class="table table-hover">
  <% @parts.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td><%= part.quantity %></td>
      <td><%= part.product.unit %></td>
      <td><%= 'Не хватает!' if part.avaliable(current_user.id) < 1 %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-large btn-warning' %> |
<%= link_to 'Back', recipes_path, class: 'btn btn-large btn-info' %>

</div>