<% if user_signed_in? %>
  <p>Здравствуйте, <%= current_user.email %></p>
  <p>ID юзера: <%= current_user.id %></p>
  <p>Admin: <% if current_user.admin? %>
      да
    <% else %>
     нет
    <% end %></p>
  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

