<%= form_tag increase_product_path, method: :post, class: "form-inline"  do %>
  <div class="form-group">
    <%= text_field_tag :count %>
    <%= @product.unit %>
    <%= submit_tag "Добавить", class: "btn btn-success btn-sm" %>
  </div>
<% end %>

<br>

<%= form_tag decrease_product_path, method: :post, :class => "form-inline"  do %>
  <div class="form-group">
    <%= text_field_tag :count %>
    <%= @product.unit %>
    <%= submit_tag "Убавить", class: "btn btn-warning btn-sm" %>
  </div>
<% end %>

<br>