<%= form_tag increase_product_path, method: :post, class: "form-inline"  do %>
  <div class="form-group">
    <%= text_field_tag :count %>
    <%= @product.unit %>
    <%= submit_tag "Добавить", class: "btn btn-success btn-sm" %>
  </div>
<% end %>

<br>

<%= form_tag decrease_product_path, method: :post, :class => "form-inline"  do %>
  <div class="form-group">
    <%= text_field_tag :count %>
    <%= @product.unit %>
    <%= submit_tag "Убавить", class: "btn btn-warning btn-sm" %>
  </div>
<% end %>

<br>

<h2>Добавить еще?</h2>
<%= bootstrap_form_for @item, url: {controller: 'products', action: 'increase'} do |f| %>

    <%= f.hidden_field :product_id, value: @product.id %>


    <%= i.text_field :count, append: @product.unit, hide_label: true  %>

    <p> <%= f.submit 'Добавить', class: 'btn btn-success'  %>
     или
    <%= link_to 'Удалить?', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>

<% end %>