
<div class="panel panel-info">

  <div class="panel-heading">
    <h2>Добавить?</h2>
  </div>

  <div class="panel-body">
    <%= form_for([@product, @product.items.build],
        layout: :inline) do |f| %>

    <%= f.hidden_field :product_id, value: @product.id %>

    <div class="input-group">
      <%= f.text_field :quantity, class: 'form-control'  %>
      <span class="input-group-addon"><%= @product.unit %></span>
    </div>

    <br>
    <%= f.submit 'Добавить', class: 'btn btn-success' %> |
    <%= link_to 'Удалить?', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
</div>