<div class="panel panel-info">

      <div class="panel-heading">
        <h3 class="panel-title">Добавить еще?</h3>
      </div>

      <div class="panel-body">
        <%= form_tag increase_product_path, method: :post do %>

        <div class="input-group">
          <%= text_field_tag :count, nil, class: 'form-control' %>
          <span class="input-group-addon"><%= @product.unit %></span>
        </div>
        <br>
        <%= submit_tag "Добавить", class: 'btn btn-success' %> или
          <%= link_to 'Удалить?', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
       <% end %>
      </div>

</div>