<div class='col-md-6'>
  <p id="notice"><%= notice %></p>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @product.name %> <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-xs btn-warning' %></h2>
    </div>

    <div class="panel-body">
      <p><%= @quantity %> (<%= @product.unit %>)</p>
      <p><%= @product.description %></p>
      <br>
      <p>
        <%= link_to 'Back to products', products_path, class: 'btn btn-large btn-info', method: :get %>
         или

      </p>
    </div>
</div>

  <% if signed_in? %>
    <% unless @item.nil? %>
      <%= render 'quantity' %>
    <% else %>
      <%= render 'additem' %>
    <% end %>
  <% end %>